.container {
  padding: 1rem;
  padding-top: 8rem; /* Más compacto */
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Reducimos el espacio entre las secciones */
}

.titulo {
  font-family: 'Lemon Milk', sans-serif;
  color: #00896b;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

.seccion {
  padding: 0.5rem; /* Reducimos aún más el padding interno */
  border-radius: 1rem;
  text-align: center;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}


